{{#partial "title" }}
  Here is Your change!
{{/partial}}


{{#partial "content"}}

<h1>Thank you for using our change Machine!</h1>
<p>Hello, {{customer}}</p>
<p>You have entered this cash amount {{cashInput}}</p>
<p>Here is a breakdown of your change: {{change }}</p>


{{/partial}}

{{> layout.hbs}}